<div class="sticky">
  <mat-toolbar class="" color="primary">
    <span><button   mat-button><i class="material-icons">delete</i></button></span>
    <span><button  mat-button><i class="material-icons">file_copy</i></button></span>
    <span><button  mat-button><i class="material-icons">file_download</i></button></span>
    <span>
    <mat-form-field>
  <label>
<input disabled="{{sortedData.length === 0 && loading}}"  (keyup)="applyFilter($event)"  matInput  placeholder="Filter">
</label>
</mat-form-field>
  </span>
  </mat-toolbar>
</div>
<mat-progress-bar  style="width: 100%"   *ngIf="loading" mode="query" color="warn"></mat-progress-bar>
<mat-divider></mat-divider>
<mat-progress-spinner  style="margin-left: 40%"   *ngIf="loading" mode="indeterminate" color="accent"></mat-progress-spinner>
    <mat-accordion  *ngIf="!loading && sortedData" multi="true">
    <mat-expansion-panel (contextmenu)="onContextMenu($event, file)" style="align-items: center" *ngFor="let file of sortedData ; trackBy:trackByName">
    <mat-expansion-panel-header style="align-items: center">
      <mat-panel-title (click)="browse(file,$event)">
        <button   mat-icon-button >
          <mat-icon *ngIf="!file.isFile" >folder</mat-icon>
          <svg *ngIf="file.isFile && file.ext== '.zip'" style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="#000000" d="M14,17H12V15H10V13H12V15H14M14,9H12V11H14V13H12V11H10V9H12V7H10V5H12V7H14M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3Z" />
          </svg>
          {{file.name}}
        </button>

      </mat-panel-title>
    </mat-expansion-panel-header>
      <a  >
Last Moified {{file.lastModified |date}}
      </a>
      <a  >
Created On {{file.birthtime |date}}
      </a>    </mat-expansion-panel>
    </mat-accordion>
    <div *ngIf="sortedData.length === 0 && !loading" style="align-content: center">
      <h3>Empety Foolder Brooo </h3>
      <i class="material-icons">
        folder_open
      </i>
    </div>
<div style="visibility: hidden; position: fixed"
     [style.left]="contextMenuPosition.x"
     [style.top]="contextMenuPosition.y"
     [matMenuTriggerFor]="contextMenu">
</div>
<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent let-item="item">
    <button mat-menu-item >Delete</button>
    <button mat-menu-item>Copy</button>
    <button *ngIf="!item.isFile"  (click)="newTab(item)" mat-menu-item>Open in New Tab</button>
  </ng-template>
</mat-menu>
