
    <h1>Performance</h1>
  <mat-grid-list [cols]="breakpoint"  [gutterSize]="'10px'" rowHeight="1:1" (window:resize)="onResize($event)">
    <mat-grid-tile>
      <mat-card>
        <mat-card-content>
          <div style="position: relative; width: 100px; height: 100px; display: flex; align-items: center; justify-content: center;">
            <mat-progress-spinner strokeWidth="5" color="accent"  [diameter]="100" style="width: 100px;height: 100px;position: absolute;top: 0;left: 0;"  [mode]="'determinate'" [value]="69">
            </mat-progress-spinner>
            <p >CPU 69%</p>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-content>
          <div style="position: relative; width: 100px; height: 100px; display: flex; align-items: center; justify-content: center;">
            <mat-progress-spinner strokeWidth="5" [diameter]="100" style="width: 100px;height: 100px;position: absolute;top: 0;left: 0;" color="warn" [mode]="'determinate'" [value]="69">
            </mat-progress-spinner>
            <p >Ram 100%</p>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-content>
          <div style="position: relative; width: 100px; height: 100px; display: flex; align-items: center; justify-content: center;">
            <mat-progress-spinner strokeWidth="5" [diameter]="100" style="width: 100px;height: 100px;position: absolute;top: 0;left: 0;" [color]="'warm'" [mode]="'determinate'" [value]="69">
            </mat-progress-spinner>
            <p >Disc 69%</p>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-content>
          <div style="position: relative; width: 100px; height: 100px; display: flex; align-items: center; justify-content: center;">
            <mat-progress-spinner strokeWidth="5" [diameter]="100" style="width: 100px;height: 100px;position: absolute;top: 0;left: 0;" [color]="'warm'" [mode]="'determinate'" [value]="69">
            </mat-progress-spinner>
            <p >CPU 69%</p>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-content>
          <div style="position: relative; width: 100px; height: 100px; display: flex; align-items: center; justify-content: center;">
            <mat-progress-spinner strokeWidth="5" [diameter]="100" style="width: 100px;height: 100px;position: absolute;top: 0;left: 0;" [color]="'warm'" [mode]="'determinate'" [value]="69">
            </mat-progress-spinner>
            <p >CPU 69%</p>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

