

<mat-toolbar class="toolbar" color="primary">
  <span><button [disabled]="selection.selected.length <= 0" (click)="deleteSelected()"  mat-button><i class="material-icons">delete</i></button></span>
  <span><button [disabled]="selection.selected.length <= 0"  mat-button><i class="material-icons">file_copy</i></button></span>
  <span><button [disabled]="selection.selected.length <= 0"  mat-button><i class="material-icons">file_download</i></button></span>
  <span><mat-form-field>
  <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
</mat-form-field></span>
</mat-toolbar>
<table  (contextmenu)="onContextMenu($event)"  mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell  (click)=browse(element,$event)   *matCellDef="let element">
      <button   mat-icon-button >
        <mat-icon *ngIf="!element.isFile" >folder</mat-icon>
        <svg *ngIf="element.isFile && element.ext== '.zip'" style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="#000000" d="M14,17H12V15H10V13H12V15H14M14,9H12V11H14V13H12V11H10V9H12V7H10V5H12V7H14M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3Z" />
        </svg>
      </button><a style="vertical-align: middle;font-size: medium;" >
      {{element.name}}
    </a></td>
  </ng-container>
  <ng-container matColumnDef="birthtime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Created On </th>
    <td mat-cell (click)=browse(element,$event) *matCellDef="let element"> {{element.birthtime |date}} </td>
  </ng-container>
  <ng-container matColumnDef="lastModified">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Modified </th>
    <td mat-cell (click)=browse(element,$event) *matCellDef="let element"> {{element.lastModified |date}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="selection.toggle(row)">
  </tr>
</table>


<div style="visibility: hidden; position: fixed"
     [style.left]="contextMenuPosition.x"
     [style.top]="contextMenuPosition.y"
     [matMenuTriggerFor]="contextMenu">
</div>
<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent let-item="item">
    <button mat-menu-item >Delete</button>
    <button mat-menu-item  >Rename</button>
  </ng-template>
</mat-menu>
