<mat-form-field>
  <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
</mat-form-field>

<table *ngIf="listdata" (matSortChange)="sortData($event)" (contextmenu)="onContextMenu($event)"  mat-table [dataSource]="listdata" matSort class="mat-elevation-z8">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell (click)=browse(element.path)  *matCellDef="let element">
      <button  mat-icon-button >
        <mat-icon >folder</mat-icon>
      </button><a style="vertical-align: middle;font-size: medium;" >
      {{element.name}}
    </a></td>
  </ng-container>
  <ng-container matColumnDef="birthtime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Created On </th>
    <td mat-cell (click)=browse(element.path) *matCellDef="let element"> {{element.birthtime |date}} </td>
  </ng-container>
  <ng-container matColumnDef="lastModified">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Modified </th>
    <td mat-cell (click)=browse(element.path) *matCellDef="let element"> {{element.lastModified |date}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!--
<mat-nav-list>
  <mat-list-item  (click)=browse(data.path)  (contextmenu)="onContextMenu($event)" *ngFor="let data  of listdata  ">
    <mat-icon matListIcon>folder</mat-icon>
    <a  (click)=browse(data.path) matLine  (dblclick)=browse(data.path)> {{data.name}} </a>
    <button   mat-icon-button >
      <mat-icon>info</mat-icon>
    </button>
  </mat-list-item>
</mat-nav-list>
-->
<div style="visibility: hidden; position: fixed"
     [style.left]="contextMenuPosition.x"
     [style.top]="contextMenuPosition.y"
     [matMenuTriggerFor]="contextMenu">
</div>
<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent let-item="item">
    <button mat-menu-item >Delete</button>
    <button mat-menu-item  >Rename</button>
  </ng-template>
</mat-menu>
